*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  color: #000;
  width: 100%;
  max-width: 1440px;
}

main {
  margin: 0 auto;
}

img {
  width: 100%;
  display: block;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #7b7b7b;
  cursor: pointer;
}

.container {
  width: 100%;
  max-width: 1120px;
  margin: 0 auto;
}

.header {
  width: 100%;
  padding: 10px 0;
  margin: 3.6em auto;
}

.header__container {
  font-family: "Lato", sans-serif;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__burger {
  display: none;
}

@media screen and (max-width: 767px) {
  .header {
    margin: 3vw;
  }

  .header__burger {
    display: block;
    position: relative;
    width: 20px;
    height: 16px;
  }
  .header__burger span {
    background-color: #000;
    position: absolute;
    width: 100%;
    height: 2px;
    top: 7px;
    right: 20px;
  }
  .header__burger::before, .header__burger::after {
    content: "";
    background-color: #000;
    position: absolute;
    width: 100%;
    height: 2px;
    right: 20px;
  }
  .header__burger::before {
    top: 0;
  }
  .header__burger::after {
    bottom: 0;
  }

  .header__menu:not(:last-child) {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
  }
}
.title__container {
  width: 63%;
  margin: 3em auto 8em;
  float: left;
}

.title_h1 {
  font-family: "Red Hat Display", sans-serif;
  font-weight: 400;
  font-size: calc(33px + 1.0416666667vw);
  letter-spacing: 1.6px;
}

@media screen and (max-width: 767px) {
  .title_h1 {
    font-size: calc(33px + 25.5 * (100vw - 375px) / 1440);
  }

  .title__container {
    width: 100%;
    margin-bottom: 3em;
  }
}
.gallery {
  width: 100vw;
  max-width: 1440px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.img_thin {
  width: 8.88%;
}

.img_04:after {
  content: "Dreamy";
  display: block;
  font-size: 16px;
  width: 100%;
  margin-top: 22px;
  letter-spacing: 0.13em;
}

.img_wide {
  width: 37.7%;
}

.img_02:after {
  content: "Mixkit Inspo";
  display: block;
  font-size: 16px;
  width: 100%;
  margin-top: 22px;
  letter-spacing: 0.13em;
}

.img_03:after {
  content: "Abalone";
  display: block;
  font-size: 16px;
  width: 100%;
  margin-top: 22px;
  letter-spacing: 0.13em;
}

@media screen and (max-width: 767px) {
  .img_thin {
    display: none;
  }

  .img_wide {
    width: 48%;
  }
}
.info {
  margin: 132px auto 60px;
  display: flex;
  justify-content: space-between;
}

.info__title {
  width: 43%;
  margin-bottom: 48px;
}
.info__title_h3 {
  font-family: "Red Hat Display", sans-serif;
  font-weight: 400;
  font-size: 1.43rem;
  letter-spacing: 0.1em;
  line-height: 1.6em;
  margin-bottom: 1.6em;
}

.info__description {
  width: 43%;
}

.info__text {
  font-family: "Lato", sans-serif;
  font-size: 1.18rem;
  color: #565656;
  letter-spacing: 0.06em;
  line-height: 1.7em;
  margin-bottom: 1.6em;
}

@media screen and (max-width: 767px) {
  .info {
    width: 100vw;
    margin: 3.5em 0.5em 0;
  }
  .info__title, .info__description {
    width: 95%;
  }
}
@media screen and (max-width: 599px) {
  .info {
    display: flex;
    flex-direction: column;
  }
}
.posts {
  display: flex;
  flex-direction: column;
  font-family: "Lato", sans-serif;
}
.posts__title {
  display: flex;
  justify-content: space-between;
  padding: 40px 0;
}
.posts__title_h3 {
  font-family: "Red Hat Display", sans-serif;
  font-weight: 400;
  font-size: 1.43rem;
  letter-spacing: 0.1em;
  line-height: 1.6em;
}

.post__wrapper {
  max-width: 1120px;
  display: flex;
  justify-content: space-between;
}

.post__block {
  width: 32%;
}

.post__img {
  width: 100%;
}

.text_top {
  display: flex;
  justify-content: space-between;
  color: #7b7b7b;
  font-size: 12px;
  letter-spacing: 0.07em;
  margin: 18px 0;
  padding: 5px 0;
}

.text_btm {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.post__title {
  font-family: "Red Hat Display", sans-serif;
  font-weight: 400;
  font-size: 1.43rem;
  letter-spacing: 0.1em;
  line-height: 1.6em;
  display: block;
  height: 4.5em;
  letter-spacing: 0.1em;
}

.post__desc {
  line-height: 1.6em;
  letter-spacing: 0.06em;
  text-align: left;
  color: #565656;
}

@media screen and (max-width: 599px) {
  .posts {
    margin: 3em 1em;
  }

  .posts__title,
.post__wrapper {
    flex-direction: column;
  }

  .post__block {
    width: 95%;
    margin-bottom: 1em;
  }
}
.header__nav {
  list-style-type: none;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.nav__link {
  text-transform: uppercase;
  color: #000000;
  font-size: 0.8rem;
  line-height: 1;
  letter-spacing: 0.3em;
}

.nav_item {
  display: inline-block;
}
.nav_item:not(:last-child) {
  margin-right: 2.7em;
}
.nav_item:after {
  content: "";
  display: block;
  width: 75%;
  height: 1px;
  background-color: #000000;
  margin: 0 auto;
  opacity: 0;
  transition: 0.5s opacity ease-in-out;
}
.nav_item:active .nav_item:after {
  opacity: 1;
}

.search {
  display: inline-block;
  width: 13%;
  margin-left: 2rem;
  top: 30%;
  right: 0;
}
.search input {
  float: left;
  border: none;
  height: 20px;
  width: 8rem;
  margin-right: 1.5rem;
  overflow: hidden;
  font-family: inherit;
  color: #7b7b7b;
  outline: none;
  opacity: 0;
  transition: 0.7s opacity ease-in-out, 1s border-bottom-color ease-in-out;
}
.search__icon {
  font-size: 1rem;
  width: 16px;
  height: 16px;
  position: absolute;
  top: 0;
  right: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.search:hover .search__input {
  border-bottom: 1px solid #000000;
  color: #7b7b7b;
  width: 8rem;
  opacity: 1;
}

.header__logo {
  float: left;
  min-width: 134px;
  margin-right: 4em;
}

/*# sourceMappingURL=style.css.map */
