.gallery {
  width: 100vw;
  max-width: 1440px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.img_thin {
  width: 8.88%;
}

.img_04:after {
  content: "Dreamy";
  display: block;
  font-size: 16px;
  width: 100%;
  margin-top: 22px;
  letter-spacing: .13em;
}

.img_wide {
  width: 37.7%;
}

.img_02:after {
  content: "Mixkit Inspo";
  display: block;
  font-size: 16px;
  width: 100%;
  margin-top: 22px;
  letter-spacing: .13em;
}

.img_03:after {
  content: "Abalone";
  display: block;
  font-size: 16px;
  width: 100%;
  margin-top: 22px;
  letter-spacing: .13em;
}

@media screen and (max-width: 767px) {
  .img_thin {
    display: none;
  }

  .img_wide {
    width: 48%;
  }
}