.header {
  width: 100%;
  padding: 10px 0;
  margin: 3.6em auto;
}

.header__container {
  font-family: 'Lato', sans-serif;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__burger {
  display: none;
}

@media screen and (max-width: 767px) {
  .header {
    margin: 3vw;
  }

  .header__burger {
    display: block;
    position: relative;
    width: 20px;
    height: 16px;

    & span {
      background-color: #000;
      position: absolute;
      width: 100%;
      height: 2px;
      top: 7px;
      right: 20px;
    }

    &::before,
    &::after {
      content: "";
      background-color: #000;
      position: absolute;
      width: 100%;
      height: 2px;
      right: 20px;
    }

    &::before {
      top: 0;
    }

    &::after {
      bottom: 0;
    }
  }

  .header__menu:not(:last-child) {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
  }
}


